.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.row_7bd8{margin:0px -15px; overflow:hidden;}

.col_qxas{margin:0px 0 30px 0; overflow:hidden;}
.section-boxed{background-image:url('../../../../../image/catalog/about/bg-testimo.jpg');background-repeat:no-repeat; background-position:left top; background-attachment:scroll ;}

/* Style Testimonial */ 
.mod-testimonial_tg4s h3{text-align:center}.mod-testimonial_tg4s .item-info,.mod-testimonial_tg4s .item-info h5,.mod-testimonial_tg4s .item-info span{color:#fff}.mod-testimonial_tg4s .item-img-info img{border-radius:50%; margin:0 auto; max-width:100%;}.mod-testimonial_tg4s .item{border:0px solid transparent; background:rgba(255,255,255,0.8) }
