@charset "UTF-8";
/*============HEADER V1 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      margin-right: -3px;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0;
        margin: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #02a8f3; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    position: relative;
    /*@include transform(rotateY(0deg));*/
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    display: block;
    /*@include transform(rotateY(90deg));*/
    transition: all 0.5s ease-in-out;
    right: 0; }

.lib-two-img-over .img-1 {
  opacity: 0;
  /*transform-style: inherit;
   @include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    /*@include transform(rotateY(0deg));*/
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*EFFECT SLIDERHOME 2*/
@keyframes myeffect2-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect2-slideshow {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px); }

  100% {
    opacity: 1;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@-moz-keyframes myeffect2-slideshow {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px); }

  100% {
    opacity: 1;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }
/*============RELATED PRODUCT==================*/
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 [2] BLOCK FOOTER
 ==============================================*/
/*============HEADER V3 ==================*/
.typeheader-3 {
  /*== [2] SO SEARCH ==*/
  /*== [3] SO MEGA MENU ==*/ }
  .typeheader-3 .header-top-left {
    padding: 4px 15px; }
  .typeheader-3 .header-top-left .navbar-phone {
    padding-left: 5px; }
  .typeheader-3 .header-top {
    background: #f7f7f7;
    border-bottom: 1px solid #ddd; }
  .typeheader-3 .header-top .btn-group .btn-link {
    padding: 0 10px; }
  .typeheader-3 #my_account .dropdown-toggle {
    font-size: 12px;
    background: transparent; }
  .typeheader-3 ul.top-link .checkout > a, .typeheader-3 .wishlist > a {
    font-size: 12px;
    background: transparent; }
  .typeheader-3 .currencies-block .btn-group .btn-link {
    padding: 0 10px !important;
    font-size: 12px; }
  .typeheader-3 .languages-block .btn-group .btn-link {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0; }
  .typeheader-3 .header-center {
    background: #fff;
    padding: 30px 0; }
  .typeheader-3 .header-center.center .navbar-logo {
    margin-bottom: 30px; }
  .typeheader-3 .header-center.center .header-center-right {
    width: 100%;
    text-align: center; }
  .typeheader-3 .header-center.left .header-center-right {
    text-align: left; }
  .typeheader-3 .header-bottom {
    background: #fff; }
  .typeheader-3 .header-bottom .navbar-menu {
    display: table;
    background: #02a8f3;
    position: relative;
    width: 100%; }
  .typeheader-3 .header-bottom .navbar-menu .menu-vertical {
    padding: 0; }
  .typeheader-3 .header-bottom .navbar-menu .megamenu-style-dev.menu-vetical {
    width: 100%;
    display: inline-block;
    float: right;
    background: #0285c0; }
  .typeheader-3 .header-bottom .cl-padding {
    width: 100%;
    padding: 0; }
  .typeheader-3 .header-bottom .shopping_cart {
    position: absolute;
    min-width: 195px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
    top: 0; }
  .typeheader-3 .header-bottom .shopping_cart .shopcart {
    padding: 15px 0; }
  .typeheader-3 .header-bottom #cart .dropdown-menu {
    margin-left: 0; }
  @media screen and (min-width:0\0) {
  .typeheader-3 .rtl .horizontal ul.megamenu > li > .sub-menu {
    right: 0 !important;
    left: auto; } }
  .typeheader-3 .header-top-right {
    text-align: left; }
  .typeheader-3 .navbar-phone, .typeheader-3 .navbar-welcome {
    color: #444;
    font-size: 12px; }
  .typeheader-3 .navbar-phone i, .typeheader-3 .navbar-welcome i {
    margin: 0 5px;
    color: #02a8f3; }
  .typeheader-3 .navbar-compact .header-bottom {
    margin: 0; }
  .typeheader-3 .navbar-main-menu-outer {
    background: #333;
    margin-bottom: 30px; }
  .typeheader-3 .header-top-right {
    display: inline-block; }
  .typeheader-3 .header-top-right ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    margin-bottom: -8px; }
  .typeheader-3 .header-top-right ul.top-link > li {
    display: inline-block;
    list-style: outside none none;
    padding: 0; }
  .typeheader-3 .header-top-right ul.top-link > li:after {
    content: "";
    height: 20px;
    width: 1px;
    background: #ddd;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0; }
  .typeheader-3 .header-top-right ul.top-link > li:last-child:after {
    display: none; }
  .typeheader-3 .header-top-right ul.top-link > li.wishlist, .typeheader-3 .header-top-right ul.top-link > li.account {
    padding: 1px 10px; }
  .typeheader-3 #search {
    visibility: hidden; }
  .typeheader-3 #search .btn-default {
    margin: 0;
    background-color: #e7e7e7; }
  .typeheader-3 #sosearchpro {
    width: 100%; }
  .typeheader-3 #sosearchpro .search {
    border: 1px solid #ddd; }
  .typeheader-3 #sosearchpro .dropdown-menu {
    right: 0px; }
  .typeheader-3 #sosearchpro .select_category {
    border: none;
    width: 30%;
    border-left: 1px solid #ddd; }
  .typeheader-3 #sosearchpro .icon-select:after {
    content: "\f0d7";
    height: 13px;
    width: 13px;
    top: 50%;
    margin-top: -7px;
    border: 1px solid #ddd;
    border-radius: 13px;
    font-size: 12px;
    color: #999;
    z-index: 3;
    line-height: 12px;
    left: -7px;
    right: auto; }
  .typeheader-3 #sosearchpro .form-control {
    border: none;
    height: 40px;
    background: white;
    padding: 9px 20px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */ }
  .typeheader-3 #sosearchpro .button-search {
    padding: 8px 10px;
    border-radius: 0;
    background: transparent;
    color: #999;
    font-size: 14px; }
  .typeheader-3 .megamenu-style-dev .vertical ul.megamenu > li > .sub-menu {
    top: 0 !important; }
  .typeheader-3 .megamenu-style-dev .navbar-default {
    background: none; }
  .typeheader-3 .megamenu-style-dev .navbar-default .vertical-wrapper {
    display: none;
    z-index: 2; }
  .typeheader-3 .megamenu-style-dev .navbar-default:hover .vertical-wrapper {
    display: block !important; }
  .typeheader-3 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    background: none; }
    .typeheader-3 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      text-shadow: none;
      padding: 15px 9px;
      height: auto;
      margin: 0 1px; }
    .typeheader-3 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li.home > a, .typeheader-3 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li.active > a {
      background: #02a8f3; }
    .typeheader-3 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover, .typeheader-3 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li:hover > a {
      background: #0293d5; }
  .typeheader-3 .megamenu-style-dev .navbar-default .vertical #menuHeading {
    cursor: pointer; }
    .typeheader-3 .megamenu-style-dev .navbar-default .vertical #menuHeading .megamenuToogle-wrapper {
      background: none; }
      .typeheader-3 .megamenu-style-dev .navbar-default .vertical #menuHeading .megamenuToogle-wrapper .container {
        padding: 15px !important;
        text-transform: uppercase; }
        .typeheader-3 .megamenu-style-dev .navbar-default .vertical #menuHeading .megamenuToogle-wrapper .container > div {
          margin: 3px 0 0 9px;
          float: right; }
  .typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    display: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    position: absolute;
    top: 100%;
    width: 100%; }
    .typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a img {
      height: auto; }
