@charset "UTF-8";
/*============HEADER V1 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      margin-right: -3px;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0;
        margin: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #df1f25; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    position: relative;
    /*@include transform(rotateY(0deg));*/
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    display: block;
    /*@include transform(rotateY(90deg));*/
    transition: all 0.5s ease-in-out;
    right: 0; }

.lib-two-img-over .img-1 {
  opacity: 0;
  /*transform-style: inherit;
   @include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    /*@include transform(rotateY(0deg));*/
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*EFFECT SLIDERHOME 2*/
@keyframes myeffect2-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect2-slideshow {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px); }

  100% {
    opacity: 1;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@-moz-keyframes myeffect2-slideshow {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px); }

  100% {
    opacity: 1;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }
/*============RELATED PRODUCT==================*/
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 [2] BLOCK FOOTER
 ==============================================*/
/*============HEADER V2 ==================*/
.typeheader-2 .logo {
  background: #df1f25;
  text-align: center;
  padding: 34px 0; }
  @media (min-width: 1200px) {
    .typeheader-2 .logo {
      min-height: 112px; } }
  .typeheader-2 .header-right-top {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */
    color: #555;
    padding: 0 10px 0 0; }
  .typeheader-2 .header-right-top > div {
    padding: 5px 15px;
    display: block; }
  .typeheader-2 .header-right-top form {
    margin: 0; }
  .typeheader-2 .header-right-top ul li {
    vertical-align: middle; }
  .typeheader-2 .header-right-top:after {
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 0 15px; }
  .typeheader-2 .header-right-top:after:before, .typeheader-2 .header-right-top:after:after {
    content: " ";
    display: table; }
  .typeheader-2 .header-right-top:after:after {
    clear: both; }
  .typeheader-2 .header-right-top .btn-link {
    color: #555;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */
    padding: 0; }
  .typeheader-2 .header-right-top .btn-link:hover {
    color: #df1f25; }
  .typeheader-2 .header-right-top .btn-link:hover {
    background: transparent; }
  .typeheader-2 form {
    margin: 0; }
  .typeheader-2 .horizontal .megamenu-wrapper {
    padding: 12px 0 0; }
  .typeheader-2 .horizontal ul.megamenu > li > a {
    padding: 16px 13px;
    text-transform: uppercase; }
  .typeheader-2 .horizontal ul.megamenu > li > a strong {
    font-weight: 500; }
  .typeheader-2 .search-block {
    padding: 15px 0px 0 0;
    padding-left: 15px; }
  .typeheader-2 .search-block #dropdownSearch {
    background: #eee;
    border: 1px solid #ddd;
    color: #333;
    padding: 11px 17px;
    float: left; }
  .typeheader-2 .search-block #dropdownSearch:hover {
    background: #df1f25;
    border: 1px solid #df1f25;
    color: #fff; }
  .typeheader-2 .search-block .dropdown-menu {
    width: 500px;
    border: none;
    box-shadow: none;
    left: 15px; }
  .typeheader-2 .search-block .dropdown-menu #sosearchpro {
    width: 100%;
    padding: 0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); }
  .typeheader-2 .search-block .dropdown-menu #sosearchpro .select_category {
    display: none !important; }
  .typeheader-2 .search-block .dropdown-menu #sosearchpro .autosearch-input {
    border: none; }
  .typeheader-2 .search-block .dropdown-menu #sosearchpro .dropdown-menu {
    opacity: 1; }
  .typeheader-2 .sosearchpro-wrapper .btn {
    padding: 9px 20px;
    background: #eee;
    color: #333;
    border-radius: 3px;
    border: none;
    border: 1px solid #ddd;
    padding: 11px 15px; }
  .typeheader-2 .sosearchpro-wrapper .btn:hover {
    background: #df1f25;
    border-color: #df1f25;
    color: #fff; }
  .typeheader-2 .sosearchpro-wrapper.open .dropdown-toggle .fa:before {
    content: "\f00d"; }
  .typeheader-2 #sosearchpro.open > .dropdown-menu {
    display: block;
    right: auto !important;
    left: 15px !important; }
  .typeheader-2 #sosearchpro .form-control {
    height: 40px;
    background: white;
    padding: 9px 20px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */ }
  .typeheader-2 #sosearchpro .button-search {
    padding: 9px 20px;
    background: #555;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: #df1f25;
    border-color: #df1f25;
    border-radius: 0;
    padding: 11px;
    border-radius: 0;
    padding-top: 9px; }
  .typeheader-2 #sosearchpro .button-search:hover {
    background: #df1f25;
    border-color: #df1f25;
    color: #fff; }
  .typeheader-2 #sosearchpro .button-search:hover {
    background: #555;
    border-color: #555; }
  .typeheader-2 .shopping_cart {
    padding: 17px 0 0 15px; }
  .typeheader-2 .title-cart-h6 {
    display: none; }
  .typeheader-2 .btn-shopping-cart {
    float: left; }
  .typeheader-2 .btn-shopping-cart > a {
    padding: 9px 20px;
    background: #555;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: #df1f25;
    border-color: #df1f25;
    padding: 8px 0px;
    padding-left: 12px;
    display: block; }
  .typeheader-2 .btn-shopping-cart > a:hover {
    background: #df1f25;
    border-color: #df1f25;
    color: #fff; }
  .typeheader-2 .btn-shopping-cart > a:hover {
    background: #555;
    border-color: #555; }
  .typeheader-2 .btn-shopping-cart .handle {
    background: url("../../images/icon/icon-cart.png") no-repeat center;
    width: 30px;
    height: 22px; }
